<section class="about">
  <div class="container">
    <h2 class="about__title">
      Интернет — магазин <br />
      брендовой одежды
    </h2>
    <div class="about__wrapper">
      <div class="about__left">
        <div class="about__img">
          <img src="img/about/about-img.jpg" alt="img" />

          <button class="about__btn" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>
          </button>

          <div class="about__tooltip tooltip">
            <span class="tooltip__name">Платье в горошек</span>
            <b class="tooltip__price">1 838 ₽</b>
            <div class="tooltip__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <p class="about__text">
          Классические и современные модели костюмов, ожидаемые релизы верхней
          одежды — каждый сезон мы представляем десятки и даже сотни новых
          позиций.
        </p>
      </div>
      <div class="about__right">
        <p class="about__text">
          Черпая вдохновение в ритме жизни крупных городов, “Clever”
          представляет лучшие модели одежды и аксессуары. <br />
          Наш ассортимент формируется из ключевых новинок известных
          производителей и товаров от брендов разных категорий.
        </p>
        <div class="about__img">
          <img src="img/about/about-img-2.jpg" alt="img" />
          <button class="about__btn" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>
          </button>

          <div class="about__tooltip tooltip about__tooltip--left">
            <span class="tooltip__name">Платье в горошек</span>
            <b class="tooltip__price">1 838 ₽</b>
            <div class="tooltip__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
