<section class="about-page">
  <div class="container">
    <h1 class="about-page__title">О бренде Clever</h1>
    <p class="about-page__text">
      женская одежда, в такт идущая с нынешними тенденциями моды. Бренд сочетает
      в себе презентабельность и стильность производимой одежды, при этом
      сохраняя доступность и приемлемость цены для оптовых покупателей.
    </p>
    <ul class="about-benefits">
      <li class="about-benefits__item">
        <p>
          15 лет на Российском <br />
          рынке
        </p>
      </li>
      <li class="about-benefits__item">
        <p>
          Узнаваемость бренда <br />
          во всех регионах России
        </p>
      </li>
      <li class="about-benefits__item">
        <p>
          Доступность цен и высокое <br />
          качество продукции
        </p>
      </li>
      <li class="about-benefits__item">
        <p>
          500 000+ покупателей <br />
          по всей России
        </p>
      </li>
    </ul>

    <div class="about-descr">
      <div class="about-descr__wrapper">
        <img class="about-descr__img" src="img/about-descr.jpg" alt="img" />

        <div class="about-descr__right">
          <h2 class="about-descr__title">Clever - это</h2>
          <div class="about-descr__text">
            <p>
              магазин одежды, который начал свою историю 1 августа 2008 года. С
              тех пор этот бренд успел завоевать сердца многих людей и стал
              очень популярным. Сегодня уже открыто два магазина, которые
              предлагают широкий ассортимент одежды для всей семьи.
            </p>
            <p>
              Одним из главных преимуществ магазина является качество товаров.
              Все изделия изготавливаются из натуральных тканей, что позволяет
              сохранять красоту и комфорт при носке на протяжении долгого
              времени. В магазинах Clever можно найти повседневную одежду,
              домашнюю одежду, спортивную одежду, а также большой выбор нижнего
              белья и чулочно-носочных изделий.
            </p>
          </div>
          <h3 class="about-descr__heading">
            Одним из основных направлений бренда является
          </h3>
          <div class="about-descr__text">
            <p>
              производство одежды, белья и трикотажа известной российской марки
              Clever. Этот бренд уже давно зарекомендовал себя как производитель
              качественной и стильной одежды. Клиенты магазина могут быть
              уверены, что купленный товар будет соответствовать высоким
              стандартам качества.
            </p>
            <p>
              В Clever можно найти одежду для всех возрастных категорий и
              размеров. Большой выбор моделей и цветов позволяет каждому
              подобрать именно то, что ему нужно. Кроме того, в магазинах Clever
              всегда действуют скидки и акции, что делает покупку еще более
              выгодной.
            </p>
            <p>
              В целом, магазины Clever - это отличное место для покупки
              качественной и стильной одежды. Большой ассортимент, высокое
              качество товаров и доступные цены делают этот бренд очень
              популярным среди покупателей. Если вы еще не посетили магазины
              Clever, то обязательно сделайте это и убедитесь в качестве и
              разнообразии товаров, которые предлагает этот бренд.
            </p>
          </div>
        </div>
      </div>
    </div>

    <ul class="about-advantages">
      <li class="about-advantages__item">
        <img
          class="about-advantages__img"
          src="img/about-advantages/1.png"
          alt="img"
        />
        <div class="about-advantages__right">
          <b class="about-advantages__name">Собственное дизайн-бюро</b>
          <p class="about-advantages__text">
            Более 100 квалифицированных сотрудников работают над разработкой
            коллекций одежды, что позволяет подобрать товар для вашей целевой
            аудитории.
          </p>
        </div>
      </li>
      <li class="about-advantages__item">
        <img
          class="about-advantages__img"
          src="img/about-advantages/1.png"
          alt="img"
        />
        <div class="about-advantages__right">
          <b class="about-advantages__name">10+ коллекций в месяц</b>
          <p class="about-advantages__text">
            За 1 месяц мы выпускаем более 10 коллекций, что позволяет постоянно
            поддерживать актуальный ассортимент вашего магазина.
          </p>
        </div>
      </li>
      <li class="about-advantages__item">
        <img
          class="about-advantages__img"
          src="img/about-advantages/1.png"
          alt="img"
        />
        <div class="about-advantages__right">
          <b class="about-advantages__name">Большой ассортимент</b>
          <p class="about-advantages__text">
            В каталоге сайта представлено более 15 000 моделей. Из них вы
            сможете подобрать наиболее актуальный ассортимент для своего
            магазина.
          </p>
        </div>
      </li>
    </ul>

    <div class="about-clothes">
      <div class="about-clothes__wrapper">
        <div class="about-clothes__right">
          <h2 class="about-clothes__title">Фабрика одежды</h2>

          <div class="about-clothes__text">
            <p>
              Clever - это фабрика одежды, которая занимается разработкой и
              производством качественной и стильной одежды для мужчин и женщин.
              У нас есть собственное дизайн-бюро, где более 100
              квалифицированных сотрудников работают над созданием новых
              коллекций.
            </p>
            <p>
              <b>
                Всего в ассортименте фабрики Clever представлено более 15 000
                моделей.
              </b>
              Это позволяет подобрать товар для любой целевой аудитории и
              удовлетворить самые разные потребности клиентов.
            </p>
            <p>
              Одна из особенностей фабрики Clever - это постоянное обновление
              ассортимента. Каждый месяц фабрика выпускает более 10 новых
              коллекций. Каждая новая коллекция уникальна и никогда не
              повторяется, что позволяет клиентам всегда быть в тренде и
              выглядеть стильно и модно.
            </p>
            <p>
              Кроме того, фабрика Clever уделяет большое внимание качеству своей
              продукции. Все модели проходят тщательный контроль качества, что
              гарантирует высокое качество и долговечность каждого изделия.
            </p>
            <p>
              В целом, фабрика Clever - это надежный партнер для тех, кто хочет
              приобрести качественную и стильную одежду для себя или своих
              клиентов. Благодаря высокому уровню профессионализма и постоянному
              обновлению ассортимента, фабрика Clever занимает лидирующие
              позиции на рынке одежды.
            </p>
          </div>
        </div>

        <img class="about-clothes__img" src="img/about-clothes.jpg" alt="img" />
      </div>
    </div>
  </div>
</section>
