<section class="benefits">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="benefits__list">
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/1.png" alt="img" />
        <span class="benefits-item__name">ГАРАНТИЯ КАЧЕСТВА</span>
        <p class="benefits-item__text">
          Дарим гарантию на всю продукцию две недели
        </p>
      </li>
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/1.png" alt="img" />
        <span class="benefits-item__name">НИЗКИЕ ЦЕНЫ</span>
        <p class="benefits-item__text">
          В нашем магазине стоимость оригинальной продукции на 20% ниже рыночной
        </p>
      </li>
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/1.png" alt="img" />
        <span class="benefits-item__name">БОЛЬШОЙ АССОРТИМЕНТ</span>
        <p class="benefits-item__text">
          В наличии 18 000 наименований товаров разных категорий
        </p>
      </li>
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/1.png" alt="img" />
        <span class="benefits-item__name">БЕСПЛАТНАЯ ДОСТАВКА</span>
        <p class="benefits-item__text">
          Бесплатная доставка в любой город России и СНГ от 3000 рублей
        </p>
      </li>
    </ul>
  </div>
</section>
