<section class="bestsellers tabs-best">
  <div class="container">
    <h2 class="bestsellers__title">Хиты продаж</h2>

    <div class="bestsellers__tabs">
      <div class="bestsellers__top">
        <ul class="bestsellers__top-list">
          <li class="bestsellers__top-item">
            <button class="bestsellers__top-btn tabs-best-btn active">
              Все хиты
            </button>
          </li>
          <li class="bestsellers__top-item">
            <button class="bestsellers__top-btn tabs-best-btn">
              Футболки, майки, топы
            </button>
          </li>
          <li class="bestsellers__top-item">
            <button class="bestsellers__top-btn tabs-best-btn">
              Платья, сарафаны
            </button>
          </li>
          <li class="bestsellers__top-item">
            <button class="bestsellers__top-btn tabs-best-btn">
              Свитеры, кофты, водолазки
            </button>
          </li>
          <li class="bestsellers__top-item">
            <button class="bestsellers__top-btn tabs-best-btn">
              Новая коллекция
            </button>
          </li>
          <li class="bestsellers__top-item">
            <button class="bestsellers__top-btn tabs-best-btn">
              Блузки, рубашки
            </button>
          </li>
        </ul>

        <a class="bestsellers__catalog" href="#">В каталог</a>
      </div>
    </div>

    <div class="bestsellers__contents">
      <div class="bestsellers__content tabs-best-content active">
        <ul class="bestsellers__list">
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/bestsellers/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Полосатая куртка</a>
                </h3>

                <p class="product-card__price">1 838 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/bestsellers/2.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Серая футболка</a>
                </h3>

                <p class="product-card__price">1 748 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/bestsellers/3.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Оранжевый костюм</a>
                </h3>

                <p class="product-card__price">1 356 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/bestsellers/4.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Зеленая куртка</a>
                </h3>

                <p class="product-card__price">3 325 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/bestsellers/5.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Розовая кофта</a>
                </h3>

                <p class="product-card__price">1 908 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/bestsellers/6.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Зеленая футболка</a>
                </h3>

                <p class="product-card__price">1 348 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/bestsellers/7.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Розовая футболка</a>
                </h3>

                <p class="product-card__price">1 069 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/bestsellers/8.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Белая вязаная кофта</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="bestsellers__content tabs-best-content active">
        <ul class="bestsellers__list">
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Белая вязаная кофта</a>
                </h3>

                <p class="product-card__price">3 204 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="bestsellers__content tabs-best-content active">
        <ul class="bestsellers__list">
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="bestsellers__content tabs-best-content active">
        <ul class="bestsellers__list">
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="bestsellers__content tabs-best-content active">
        <ul class="bestsellers__list">
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="bestsellers__content tabs-best-content active">
        <ul class="bestsellers__list">
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
          <li class="bestsellers__item">
            <article class="product-card">
              <a class="product-card__top" href="#">
                <img src="img/products/1.jpg" alt="img" />

                <div class="product-card__btns card-btns">
                  <button
                    class="card-btns__btn"
                    type="button"
                    aria-label="Добавить в корзину"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                  <button
                    class="card-btns__btn card-btns__btn--fav"
                    type="button"
                    aria-label="Добавить в избранное"
                  >
                    <svg>
                      <use xlink:href="img/sprite.svg#heart"></use>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="product-card__body">
                <h3 class="product-card__title">
                  <a href="#">Голубой костюм</a>
                </h3>

                <p class="product-card__price">1313 ₽</p>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>

    <!-- <a
      class="bestsellers__catalog bestsellers__catalog--mobile btn"
      href="#"
    >
      В каталог
    </a> -->
  </div>
</section>
