<section class="catalog">
  <div class="filters-mobile">
    <div class="filters-mobile__top">
      <span class="filters-mobile__title">Фильтр</span>
      <button class="filters-mobile__close" type="button">
        <svg>
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <div class="filters-mobile__inner">
      <div class="filters-mobile__accordions">
        <div class="filters-accordion accordion">
          <div
            class="filters-accordion__control accordion-control-btn"
            type="button"
          >
            <span class="filters-accordion__control-link"> КАТЕГОРИЯ </span>
            <button
              class="filters-accordion__control-btn accordion-control-btn"
              type="button"
            >
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>
          </div>
          <div class="filters-accordion__content accordion-content">
            <ul class="filters-accordion__list">
              <li class="filters-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Категория 1</span>
                </label>
              </li>
              <li class="filters-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Категория 1</span>
                </label>
              </li>
              <li class="filters-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Категория 1</span>
                </label>
              </li>
              <li class="menu-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Категория 1</span>
                </label>
              </li>
              <li class="menu-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Категория 1</span>
                </label>
              </li>
              <li class="menu-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Категория 1</span>
                </label>
              </li>
              <li class="menu-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Категория 1</span>
                </label>
              </li>
              <li class="menu-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Категория 1</span>
                </label>
              </li>
              <li class="menu-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Категория 1</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="filters-accordion accordion">
          <div
            class="filters-accordion__control accordion-control-btn"
            type="button"
          >
            <span class="filters-accordion__control-link"> Материал </span>
            <button
              class="filters-accordion__control-btn accordion-control-btn"
              type="button"
            >
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>
          </div>
          <div class="filters-accordion__content accordion-content">
            <ul class="filters-accordion__list">
              <li class="filters-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Материал 1</span>
                </label>
              </li>
              <li class="filters-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Материал 1</span>
                </label>
              </li>
              <li class="filters-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Материал 1</span>
                </label>
              </li>
              <li class="menu-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Материал 1</span>
                </label>
              </li>
              <li class="menu-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Материал 1</span>
                </label>
              </li>
              <li class="menu-accordion__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox" />
                  <span class="checkbox__box"></span>
                  <span class="checkbox__text">Материал 1</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="filters-mobile__price">
        <span class="filters-mobile__name">Цена</span>
        <div class="catalog-dropdown catalog-dropdown--price">
          <div class="range-slider range-slider--price">
            <div class="range-slider__range"></div>
            <div class="range-slider__values">
              <div class="range-slider__value">
                <span>от</span>
                <input
                  class="range-slider__min"
                  type="text"
                  placeholder="От 10 000"
                />
              </div>
              <div class="range-slider__value">
                <span>до</span>
                <input
                  class="range-slider__max"
                  type="text"
                  placeholder="До 100 млн"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filters-mobile__size">
        <span class="filters-mobile__name">РАЗМЕР</span>
        <ul class="filters-mobile__sizes">
          <li class="filters-mobile__size-item">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" checked />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">xs</span>
            </label>
          </li>
          <li class="filters-mobile__size-item">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">s</span>
            </label>
          </li>
          <li class="filters-mobile__size-item">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">m</span>
            </label>
          </li>
          <li class="filters-mobile__size-item">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">l</span>
            </label>
          </li>
          <li class="filters-mobile__size-item">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">xl</span>
            </label>
          </li>
          <li class="filters-mobile__size-item">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">xxl</span>
            </label>
          </li>
        </ul>
      </div>

      <div class="filters-mobile__colors">
        <span class="filters-mobile__name">Цвет</span>
        <ul class="filters-mobile__colors-inner">
          <li class="filters-mobile__color"></li>
          <li class="filters-mobile__color"></li>
          <li class="filters-mobile__color"></li>
          <li class="filters-mobile__color"></li>
          <li class="filters-mobile__color"></li>
          <li class="filters-mobile__color"></li>
        </ul>
      </div>

      <div class="filters-mobile__btns">
        <button
          class="filters-mobile__btn filters-mobile__btn--save"
          type="submit"
        >
          СОХРАНИТЬ
        </button>
        <button
          class="filters-mobile__btn filters-mobile__btn--reset"
          type="reset"
        >
          Очистить

          <svg>
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="catalog__title section-title">Женщинам</h1>
    <div class="catalog__filters filters">
      <div class="filters__wrapper">
        <button class="filters__btn" type="button">
          <img src="img/filters-icon.png" alt="img" />
        </button>

        <button class="filters__btn filters__btn--mobile" type="button">
          <img src="img/filters-icon.png" alt="img" />
        </button>

        <div class="filters__filters">
          <div class="filters__list">
            <div class="filters__item">
              Категория

              <div class="catalog-dropdown catalog-dropdown--categories">
                <div class="catalog-dropdown__inner">
                  <ul class="catalog-dropdown__list">
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Футболки, майки, топы</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Платья, сарафаны</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Новая коллекция</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Свитеры, кофты, водолазки</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Блузки, рубашки</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Пижамы, халаты, домашняя одежда</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Бюстгальтеры</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Колготки, чулки, гольфы</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#">
                        Джинсы, брюки</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Футболки, майки, топы</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Платья, сарафаны</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Новая коллекция</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Свитеры, кофты, водолазки</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Блузки, рубашки</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Пижамы, халаты, домашняя одежда</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Бюстгальтеры</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#"
                        >Колготки, чулки, гольфы</a
                      >
                    </li>
                    <li class="catalog-dropdown__item">
                      <a class="catalog-dropdown__link" href="#">
                        Джинсы, брюки</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="filters__item">
              Цвет

              <div class="catalog-dropdown catalog-dropdown--colors">
                <div class="catalog-dropdown__inner">
                  <ul class="catalog-dropdown__colors">
                    <li class="catalog-dropdown__color">
                      <div class="color-box"></div>
                      <div class="color-text">Бежевый</div>
                    </li>
                    <li class="catalog-dropdown__color">
                      <div class="color-box"></div>
                      <div class="color-text">Белый</div>
                    </li>
                    <li class="catalog-dropdown__color">
                      <div class="color-box"></div>
                      <div class="color-text">Бирюзовый</div>
                    </li>
                    <li class="catalog-dropdown__color">
                      <div class="color-box"></div>
                      <div class="color-text">Голубой</div>
                    </li>
                    <li class="catalog-dropdown__color">
                      <div class="color-box"></div>
                      <div class="color-text">Желтый</div>
                    </li>
                    <li class="catalog-dropdown__color">
                      <div class="color-box"></div>
                      <div class="color-text">Зеленый</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="filters__item">
              Материал

              <div class="catalog-dropdown catalog-dropdown--materials">
                <div class="catalog-dropdown__inner">
                  <ul class="catalog-dropdown__list">
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">Материал 1 (6) </span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">Материал 2 (6)</span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">Материал 3</span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">Материал 1</span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">Материал 2</span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">Материал 3</span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">Материал 1</span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">Материал 2</span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">Материал 3</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="filters__item">
              Размер

              <div class="catalog-dropdown catalog-dropdown--size">
                <div class="catalog-dropdown__inner">
                  <ul class="catalog-dropdown__list">
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">1 (7) </span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">100 (1) </span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">105 (1) </span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">110 (1) </span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">XL </span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">2 (657) </span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">3 (501) </span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">31 (2) </span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">4 (529) </span>
                      </label>
                    </li>
                    <li class="catalog-dropdown__item">
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">5 (256) </span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="filters__item">
              <span>Цена</span>
              <div class="catalog-dropdown catalog-dropdown--price">
                <div class="range-slider range-slider--price">
                  <div class="range-slider__range"></div>
                  <div class="range-slider__values">
                    <div class="range-slider__value">
                      <span>от</span>
                      <input
                        class="range-slider__min"
                        type="text"
                        placeholder="От 10 000"
                      />
                    </div>
                    <div class="range-slider__value">
                      <span>до</span>
                      <input
                        class="range-slider__max"
                        type="text"
                        placeholder="До 100 млн"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <select class="filters__select">
          <option value="1">Сначала новые</option>
          <option value="2">Сначала дешевле</option>
          <option value="3">Сначала дороже</option>
          <option value="3">Скидка меньше</option>
          <option value="3">Скидка больше</option>
        </select>
      </div>
    </div>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/products/1.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Голубой костюм</a>
            </h3>

            <p class="product-card__price">1313 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/products/2.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Голубые джинсы</a>
            </h3>

            <p class="product-card__price">2 398 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/products/3.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Пижама</a>
            </h3>

            <p class="product-card__price">1321 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/products/4.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Зеленая футболка</a>
            </h3>

            <p class="product-card__price">1523 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/1.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Полосатая куртка</a>
            </h3>

            <p class="product-card__price">1 838 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/2.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Серая футболка</a>
            </h3>

            <p class="product-card__price">1 748 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/3.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Оранжевый костюм</a>
            </h3>

            <p class="product-card__price">1 356 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/4.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Зеленая куртка</a>
            </h3>

            <p class="product-card__price">3 325 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/5.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Розовая кофта</a>
            </h3>

            <p class="product-card__price">1 908 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/6.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Зеленая футболка</a>
            </h3>

            <p class="product-card__price">1 348 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/7.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Розовая футболка</a>
            </h3>

            <p class="product-card__price">1 069 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/8.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Белая вязаная кофта</a>
            </h3>

            <p class="product-card__price">1313 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/products/1.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Голубой костюм</a>
            </h3>

            <p class="product-card__price">1313 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/products/2.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Голубые джинсы</a>
            </h3>

            <p class="product-card__price">2 398 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/products/3.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Пижама</a>
            </h3>

            <p class="product-card__price">1321 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/products/4.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Зеленая футболка</a>
            </h3>

            <p class="product-card__price">1523 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/1.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Полосатая куртка</a>
            </h3>

            <p class="product-card__price">1 838 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/2.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Серая футболка</a>
            </h3>

            <p class="product-card__price">1 748 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/3.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Оранжевый костюм</a>
            </h3>

            <p class="product-card__price">1 356 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/4.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Зеленая куртка</a>
            </h3>

            <p class="product-card__price">3 325 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/5.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Розовая кофта</a>
            </h3>

            <p class="product-card__price">1 908 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/6.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Зеленая футболка</a>
            </h3>

            <p class="product-card__price">1 348 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/7.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Розовая футболка</a>
            </h3>

            <p class="product-card__price">1 069 ₽</p>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="img/bestsellers/8.jpg" alt="img" />

            <div class="product-card__btns card-btns">
              <button
                class="card-btns__btn"
                type="button"
                aria-label="Добавить в корзину"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#cart"></use>
                </svg>
              </button>
              <button
                class="card-btns__btn card-btns__btn--fav"
                type="button"
                aria-label="Добавить в избранное"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </a>
          <div class="product-card__body">
            <h3 class="product-card__title">
              <a href="#">Белая вязаная кофта</a>
            </h3>

            <p class="product-card__price">1313 ₽</p>
          </div>
        </article>
      </li>
    </ul>

    <div class="catalog__bottom">
      <ul class="catalog__pagination pagination">
        <li class="pagination__item">
          <a class="pagination__link pagination__link--active" href="#">01</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">02</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">03</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">04</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">05</a>
        </li>
        <li class="pagination__item">
          <span>...</span>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">50</a>
        </li>
      </ul>
    </div>
  </div>
</section>
