<section class="contacts">
  <div class="container">
    <h1 class="contacts__title">Контакты</h1>
  </div>

  <div class="contacts__wrapper">
    <div class="contacts__left">
      <img src="img/contacts-img.jpg" alt="img" />
    </div>
    <div class="contacts__right">
      <address class="contacts__address">
        <div class="contacts__item">
          <span class="contacts__name">Телефон:</span>
          <a class="contacts__link-phone" href="tel:+79124456630">
            +7 (912) 445-66-30
          </a>
        </div>
        <div class="contacts__item">
          <span class="contacts__name">Адрес:</span>
          <span class="contacts__address-name"> г. Воткинск</span>
        </div>
        <div class="contacts__offices">
          <div class="contacts__office">
            <span class="contacts__office-name">Улица 1 Мая 81, БЦ Север</span>
            <div class="contacts__map map" id="map">
              <iframe
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A64ad4b31f5030a40bdc64fcc8c953d1dc95968659f33dfdfab88334b650283e7&amp;source=constructor"
                width="500"
                height="400"
              ></iframe>
            </div>
          </div>
          <div class="contacts__office">
            <span class="contacts__office-name">Улица 1 Мая 86, ТЦ Советник</span>
            <div class="contacts__map map">
              <iframe
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A64ad4b31f5030a40bdc64fcc8c953d1dc95968659f33dfdfab88334b650283e7&amp;source=constructor"
                width="500"
                height="400"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="contacts__item">
          <span class="contacts__name">E-mail: </span>
          <a class="contacts__link" href="mailto:julia250382@mail.ru">
            julia250382@mail.ru
          </a>
        </div>
      </address>
      <button class="contacts__btn btn" type="button">
        <svg>
          <use xlink:href="img/sprite.svg#mail"></use>
        </svg>
        Написать нам
      </button>
      <p class="contacts__text">
        Мы отвечаем на сообщения: <br />
        ежедневно с пн - пт с 09:00 до 20:00
      </p>
    </div>
  </div>

  <div class="container">
    <div class="requisites">
      <h2 class="requisites__title">Банковские реквизиты:</h2>
      <ul class="requisites__list">
        <li class="requisites__item">ИНН 1234567890</li>
        <li class="requisites__item">ОКВЭД 11.12</li>
        <li class="requisites__item">КПП 123450001</li>
        <li class="requisites__item">БИК 044030723</li>
        <li class="requisites__item">ОГРН 1051234567890</li>
        <li class="requisites__item">Кор. сч.: 30101234567890123456</li>
        <li class="requisites__item">ОКПО 79712345</li>
        <li class="requisites__item">Расч. сч. (руб.): 40701234567890123456</li>
      </ul>
    </div>
  </div>
</section>
