<section class="delivery">
  <div class="container">
    <h1 class="delivery__title">Доставка</h1>
    <p class="delivery__text">
      При покупке на сумму от 4000 рублей доставка бесплатная. <br />
      В нашем интернет-магазине доступны следующие варианты доставки заказа:
    </p>

    <ul class="delivery__list">
      <li class="delivery-item">
        <img class="delivery-item__img" src="img/cdek-icon.png" alt="img" />
        <strong class="delivery-item__name">Транспортной компанией СДЭК</strong>
        <p>
          Это удобный способ получения заказов, который популярен среди наших
          клиентов. В постамате вы можете самостоятельно получить заказ в
          удобное для вас время, без очередей и ожидания курьера.
        </p>
      </li>
      <li class="delivery-item">
        <img
          class="delivery-item__img"
          src="img/post-office-icon.png"
          alt="img"
        />
        <strong class="delivery-item__name">В отделение Почты России</strong>
        <p>
          Ваша посылка будет находиться в почтовом отделении в течение 15 дней.
          Вы можете продлить срок хранения посылки до 30 дней при обращении в
          отделение почтовой связи.
        </p>
      </li>
    </ul>
  </div>
</section>
