<section class="faq">
  <div class="container">
    <h1 class="faq__title">Вопросы - ответы</h1>
    <div class="faq__wrapper">
      <div class="faq__left">
        <div class="faq__accordions">
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как я могу отменить заказ?
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Если вы хотите отменить или изменить свой заказ, пожалуйста,
                  позвоните по телефону
                  <a href="tel:+74951234567">+7 (495) 123-45-67</a>
                  или по электронной почте info@clever.ru , указав номер вашего
                  заказа, как можно скорее. Мы сделаем все возможное, чтобы
                  учесть любые запрошенные изменения, однако после обработки
                  заказа мы не можем гарантировать, что он может быть отменен
                  или изменен.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как узнать статус заказа?
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Если вы хотите отменить или изменить свой заказ, пожалуйста,
                  позвоните по телефону
                  <a href="tel:+74951234567">+7 (495) 123-45-67</a>
                  или по электронной почте info@clever.ru , указав номер вашего
                  заказа, как можно скорее. Мы сделаем все возможное, чтобы
                  учесть любые запрошенные изменения, однако после обработки
                  заказа мы не можем гарантировать, что он может быть отменен
                  или изменен.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Как использовать промокод?
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Если вы хотите отменить или изменить свой заказ, пожалуйста,
                  позвоните по телефону
                  <a href="tel:+74951234567">+7 (495) 123-45-67</a>
                  или по электронной почте info@clever.ru , указав номер вашего
                  заказа, как можно скорее. Мы сделаем все возможное, чтобы
                  учесть любые запрошенные изменения, однако после обработки
                  заказа мы не можем гарантировать, что он может быть отменен
                  или изменен.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Можно ли перенести дату доставки?
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Если вы хотите отменить или изменить свой заказ, пожалуйста,
                  позвоните по телефону
                  <a href="tel:+74951234567">+7 (495) 123-45-67</a>
                  или по электронной почте info@clever.ru , указав номер вашего
                  заказа, как можно скорее. Мы сделаем все возможное, чтобы
                  учесть любые запрошенные изменения, однако после обработки
                  заказа мы не можем гарантировать, что он может быть отменен
                  или изменен.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Когда вернут деньги за возвращенный товар?
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Если вы хотите отменить или изменить свой заказ, пожалуйста,
                  позвоните по телефону
                  <a href="tel:+74951234567">+7 (495) 123-45-67</a>
                  или по электронной почте info@clever.ru , указав номер вашего
                  заказа, как можно скорее. Мы сделаем все возможное, чтобы
                  учесть любые запрошенные изменения, однако после обработки
                  заказа мы не можем гарантировать, что он может быть отменен
                  или изменен.
                </p>
              </div>
            </div>
          </div>
          <div class="faq-accordion accordion">
            <button
              class="faq-accordion__control accordion-control-btn"
              type="button"
            >
              Сколько мжно заказать товаров в одном заказе?
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="faq-accordion__content accordion-content">
              <div class="faq-accordion__inner">
                <p>
                  Если вы хотите отменить или изменить свой заказ, пожалуйста,
                  позвоните по телефону
                  <a href="tel:+74951234567">+7 (495) 123-45-67</a>
                  или по электронной почте info@clever.ru , указав номер вашего
                  заказа, как можно скорее. Мы сделаем все возможное, чтобы
                  учесть любые запрошенные изменения, однако после обработки
                  заказа мы не можем гарантировать, что он может быть отменен
                  или изменен.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq__right">
        <h2 class="faq__heading">Задайте свой вопрос</h2>

        <form class="form-submit">
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Введите Ваше имя"
            />
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="email"
              placeholder="Введите Ваш e-mail"
            />
          </label>
          <label class="form-submit__group form-submit__group--big">
            <textarea
              class="form-submit__input"
              placeholder="Сообщение"
            ></textarea>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__box"></span>
            <span class="checkbox__text">
              Согласен(а) на
              <a href="#" target="_blank"> обработку персональных данных</a>
            </span>
          </label>
          <button class="form-submit__btn btn" type="submit">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
