<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__col">
          <span class="footer__name">Каталог</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Женщинам</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Мужчинам</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Девочкам</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Мальчикам</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Новорожденным</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Текстиль</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">Магазин</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">О нас</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Доставка</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Оплата</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Возват товара</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">Поддержка</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#"> Статус заказа</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"> Вопросы - ответы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Конфиденциальность</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Публичная оферта</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">Гид по товарам</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Правильная стирка</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Уход за одеждой</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__right">
        <address class="footer-address">
          <span class="footer__name">Контакты</span>
          <div class="footer-address__item">
            <svg>
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            Телефон: <a href="tel:+79124456630"> +7 (912) 445-66-30</a>
          </div>
          <div class="footer-address__item">
            <svg>
              <use xlink:href="img/sprite.svg#location"></use>
            </svg>
            <div>
              Воткинск, Улица 1 Мая 81, БЦ Север <br />
              Воткинск, Улица 1 Мая 86, ТЦ Советник
            </div>
          </div>
          <div class="footer-address__item">
            <svg>
              <use xlink:href="img/sprite.svg#email"></use>
            </svg>
            E-mail:
            <a href="mailto:julia250382@mail.ru">julia250382@mail.ru</a>
          </div>
        </address>
        <div class="footer__socials socials">
          <span class="footer__name">Мы в соц сетях</span>
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <p class="footer__bottom-copy">© 2023 Clever. Все права защищены.</p>
        <div class="footer__bottom-right">
          <div class="footer__bottom-payments">
            <span>Мы принимаем</span>
            <img src="img/payments.png" alt="payments" />
          </div>

          <a
            class="company"
            href="https://razrabotka-saita.ru/"
            target="_blank"
          >
            <span>Разработка сайта</span>
            <img src="img/logo-company.png" alt="АдвансМедиа" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
