<header class="header">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="#">
        <img src="img/logo.png" alt="логотип" />
      </a>
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 6L18 18"
            stroke="#f1ebda"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18 6L6 18"
            stroke="#f1ebda"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Доставка </span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Оплата </span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span> Возват товара </span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Вопросы - ответы </span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Новинки </span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Sale</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Женщинам </span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Мужчинам </span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Девочкам </span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Мальчикам </span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Новорожденным </span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Текстиль </span></a>
      </li>
    </ul>

    <a class="mobile-menu__social" href="#"> instagram </a>
    <a class="mobile-menu__social" href="#"> vkontakte </a>
  </div>
  <!-- Mobile Menu -->
  <form class="header-search">
    <input class="header-search__input" type="text" placeholder="Поиск" />
    <svg class="header-search__icon">
      <use xlink:href="img/sprite.svg#search"></use>
    </svg>
    <button
      class="header-search__close"
      type="button"
      aria-label="Закрыть поиск"
    >
      <svg>
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
  </form>
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__top-right">
          <div class="header__top-location">
            <svg>
              <use xlink:href="img/sprite.svg#location"></use>
            </svg>
            <p>Воткинск, Улица 1 Мая 81, БЦ Север</p>
            |
            <p>Воткинск, Улица 1 Мая 86, ТЦ Советник</p>
          </div>
          <a class="header__top-email" href="mailto:julia250382@mail.ru">
            <svg>
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
            julia250382@mail.ru
          </a>
        </div>
        <ul class="header__top-nav">
          <li class="header__top-item">
            <a class="header__top-link" href="#">Доставка</a>
          </li>
          <li class="header__top-item">
            <a class="header__top-link" href="#">Оплата</a>
          </li>
          <li class="header__top-item">
            <a class="header__top-link" href="#">Возват товара</a>
          </li>
          <li class="header__top-item">
            <a class="header__top-link" href="#">Вопросы - ответы</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <nav class="header__wrapper">
      <div class="header__middle">
        <div class="header__middle-inner">
          <div class="header__middle-left">
            <button
              class="header__toggle"
              type="button"
              aria-label="Открыть меню"
            >
              <span class="header__toggle-line"></span>
            </button>
            <ul class="header__middle-list">
              <li class="header__middle-item">
                <a class="header__middle-link active" href="#">Новинки </a>
              </li>
              <li class="header__middle-item">
                <a class="header__middle-link" href="#">
                  Sale

                  <span class="sale"> -70% </span>
                </a>
              </li>
            </ul>
          </div>
          <a href="#" class="header__logo">
            <img src="img/logo.png" alt="img" />
          </a>
          <div class="header__middle-right">
            <ul class="header-socials">
              <li class="header-socials__item">
                <a class="header-socials__link" href="#">instagram </a>
              </li>
              <li class="header-socials__item">
                <a class="header-socials__link" href="#">vkontakte</a>
              </li>
            </ul>
            <ul class="header-tools">
              <li class="header-tools__item">
                <button class="header-tools__link search-btn" type="button">
                  <svg>
                    <use xlink:href="img/sprite.svg#search"></use>
                  </svg>
                </button>
              </li>
              <li class="header-tools__item">
                <a class="header-tools__link" href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#user"></use>
                  </svg>
                </a>
              </li>
              <li class="header-tools__item">
                <a class="header-tools__link" href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#heart-2"></use>
                  </svg>
                </a>
              </li>
              <li class="header-tools__item">
                <a class="header-tools__link header-tools__link--cart" href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#shopping-bag"></use>
                  </svg>

                  <span class="count">0</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">Женщинам </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Мужчинам </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Девочкам </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Мальчикам </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Новорожденным </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Текстиль</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
