<section class="inspiration">
  <div class="container">
    <h2 class="inspiration__title">
      <span>Вдохновитесь</span> нашим <a href="#">instagram</a>
    </h2>

    <ul class="inspiration__list">
      <li class="inspiration__item">
        <a class="inspiration__link" href="#" target="_blank">
          <img src="img/inspiration/2.jpg" alt="img" />
          <span class="inspiration__overlay">
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="inspiration__item">
        <a class="inspiration__link" href="#" target="_blank">
          <img src="img/inspiration/2.jpg" alt="img" />
          <span class="inspiration__overlay">
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="inspiration__item">
        <a class="inspiration__link" href="#" target="_blank">
          <img src="img/inspiration/3.jpg" alt="img" />
          <span class="inspiration__overlay">
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="inspiration__item">
        <a class="inspiration__link" href="#" target="_blank">
          <img src="img/inspiration/4.jpg" alt="img" />
          <span class="inspiration__overlay">
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="inspiration__item">
        <a class="inspiration__link" href="#" target="_blank">
          <img src="img/inspiration/5.jpg" alt="img" />
          <span class="inspiration__overlay">
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
