<section class="payment">
  <div class="container">
    <h1 class="payment__title">Оплата</h1>
    <p class="payment__text">
      В нашем интернет-магазине доступны следующие варианты оплаты заказа:
    </p>

    <ul class="payment__list">
      <li class="payment-item">
        <img class="payment-item__img" src="img/payment/1.png" alt="img" />
        <strong class="payment-item__name">Наличными</strong>
        <p>
          Оплата заказа производится наличными в рублях в момент получения
          заказа, при выборе доставки курьерской службой, ПВЗ или самовывозом из
          магазина.
        </p>
      </li>
      <li class="payment-item">
        <img
          class="payment-item__img"
          src="img/payment/2.png"
          alt="img"
        />
        <strong class="payment-item__name">Банковской картой</strong>
        <p>
          При оформлении заказа на сайте мы принимаем к оплате банковские карты
          платежных систем Visa (включая Electron), MasterCard и Maestro, CUP,
          МИР.
        </p>
      </li>
      <li class="payment-item">
        <img
          class="payment-item__img"
          src="img/payment/3.png"
          alt="img"
        />
        <strong class="payment-item__name">Оплата по QR-коду</strong>
        <p>
          Быстрая и удобная оплата заказов
          с помощью QR-кода через новый сервис
          Банка России – Система быстрых платежей.
        </p>
      </li>
    </ul>
  </div>
</section>
