<section class="products-slider">
  <div class="container">
    <h2 class="products-slider__title">Похожие товары</h2>

    <div class="products-slider__slider swiper">
      <ul class="products-slider__slides swiper-wrapper">
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img src="img/products/1.jpg" alt="img" />

              <div class="product-card__btns card-btns">
                <button
                  class="card-btns__btn"
                  type="button"
                  aria-label="Добавить в корзину"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
                <button
                  class="card-btns__btn card-btns__btn--fav"
                  type="button"
                  aria-label="Добавить в избранное"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Голубой костюм</a>
              </h3>

              <p class="product-card__price">1313 ₽</p>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img src="img/products/2.jpg" alt="img" />

              <div class="product-card__btns card-btns">
                <button
                  class="card-btns__btn"
                  type="button"
                  aria-label="Добавить в корзину"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
                <button
                  class="card-btns__btn card-btns__btn--fav"
                  type="button"
                  aria-label="Добавить в избранное"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Голубой костюм</a>
              </h3>

              <p class="product-card__price">1313 ₽</p>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img src="img/products/3.jpg" alt="img" />

              <div class="product-card__btns card-btns">
                <button
                  class="card-btns__btn"
                  type="button"
                  aria-label="Добавить в корзину"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
                <button
                  class="card-btns__btn card-btns__btn--fav"
                  type="button"
                  aria-label="Добавить в избранное"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Голубой костюм</a>
              </h3>

              <p class="product-card__price">1313 ₽</p>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img src="img/products/4.jpg" alt="img" />

              <div class="product-card__btns card-btns">
                <button
                  class="card-btns__btn"
                  type="button"
                  aria-label="Добавить в корзину"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
                <button
                  class="card-btns__btn card-btns__btn--fav"
                  type="button"
                  aria-label="Добавить в избранное"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Голубой костюм</a>
              </h3>

              <p class="product-card__price">1313 ₽</p>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img src="img/products/1.jpg" alt="img" />

              <div class="product-card__btns card-btns">
                <button
                  class="card-btns__btn"
                  type="button"
                  aria-label="Добавить в корзину"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
                <button
                  class="card-btns__btn card-btns__btn--fav"
                  type="button"
                  aria-label="Добавить в избранное"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Голубой костюм</a>
              </h3>

              <p class="product-card__price">1313 ₽</p>
            </div>
          </article>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <button class="swiper-button-prev" type="button" aria-label="Предыдущий">
        <svg>
          <use xlink:href="img/sprite.svg#slider-right"></use>
        </svg>
      </button>
      <button class="swiper-button-next" type="button" aria-label="Следующий">
        <svg>
          <use xlink:href="img/sprite.svg#slider-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
