<section class="product">
  <div class="container">
    <div class="product__wrapper">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__nav">
            <div class="slider-thumbs__nav-wrap swiper" id="slider-nav">
              <ul class="swiper-wrapper">
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
              </ul>
            </div>

            <div class="slider-thumbs__nav-control">
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-down"></use>
                </svg>
              </button>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              >
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
              </button>
            </div>
          </div>

          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="product__right product-info">
        <h1 class="product-info__title">CLEVER Куртка женская 236182/101д</h1>

        <div class="product-info__colors product-colors">
          <div class="product-colors__top">
            <span class="roduct-colors__name">Цвет</span>
          </div>
          <div class="product-colors__items">
            <label class="checkbox-colors checkbox-colors--green">
              <input
                class="checkbox-colors__input"
                type="radio"
                name="size"
                checked
              />
              <span class="checkbox-colors__icon"></span>
            </label>

            <label class="checkbox-colors checkbox-colors--black">
              <input class="checkbox-colors__input" type="radio" name="size" />
              <span class="checkbox-colors__icon"></span>
            </label>
          </div>
        </div>

        <div class="product-info__sizes product-sizes">
          <div class="product-sizes__top">
            <span class="roduct-sizes__name">Размер</span>
            <a class="product-sizes__link" href="#">
              <span>Таблица размеров</span>

              <svg>
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
          <div class="product-sizes__items">
            <label class="checkbox">
              <input class="checkbox__input" type="radio" name="size" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">XS</span>
            </label>
            <label class="checkbox">
              <input class="checkbox__input" type="radio" name="size" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">S</span>
            </label>
            <label class="checkbox">
              <input class="checkbox__input" type="radio" name="size" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">M</span>
            </label>

            <label class="checkbox">
              <input class="checkbox__input" type="radio" name="size" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">L</span>
            </label>

            <label class="checkbox">
              <input class="checkbox__input" type="radio" name="size" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">XL</span>
            </label>

            <label class="checkbox">
              <input class="checkbox__input" type="radio" name="size" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">XXL</span>
            </label>
          </div>
        </div>

        <div class="product-info__prices">
          <div class="product-info__counter counter">
            <button
              class="counter__btn counter__btn--decrease"
              type="button"
              aria-label="Добавить"
            >
              -
            </button>
            <input class="counter__input" type="number" value="1" />
            <button
              class="counter__btn counter__btn--increase"
              type="button"
              aria-label="Вычесть"
            >
              +
            </button>
          </div>
          <span class="product-info__price product-info__price--new">
            3 500 ₽
          </span>
        </div>

        <div class="product-info__btns">
          <button class="product-info__btn btn" type="button">
            Добавить в корзину
          </button>
          <button class="product-info__btn btn btn--border" href="#">
            Добавить в избранные
          </button>
        </div>
      </div>
    </div>
    <div class="product-descr">
      <h2 class="product-descr__title">Описание</h2>
      <p class="product-descr__text">
        Женская куртка среднего объёма с застежкой на пуговицы. Куртка имеет
        спущенный рукав и вместительные накладные карманы с клапаном. Женская
        куртка выполнена из прочного, износостойкого полотна, которое отлично
        подходит для верхней одежды. Такую модель можно комбинировать с джинсами
        или брюками из аналогичного материала. Рекомендуется стирать в режиме
        "Деликатная стирка" при температуре до 40 градусов, температура утюжки
        до 170 градусов.
      </p>
    </div>
    <div class="product-specs">
      <h2 class="product-specs__title">Характеристики</h2>
      <ul class="product-specs__list">
        <li class="product-specs__item">
          <div class="product-specs__left">Наименование:</div>
          <div class="product-specs__right">Куртка женская</div>
        </li>
        <li class="product-specs__item">
          <div class="product-specs__left">Сезон:</div>
          <div class="product-specs__right">весна-лето</div>
        </li>
        <li class="product-specs__item">
          <div class="product-specs__left">Состав:</div>
          <div class="product-specs__right">68% хлопок, 27% полиэстер, 5% эластан</div>
        </li>
        <li class="product-specs__item">
          <div class="product-specs__left">Страна бренда:</div>
          <div class="product-specs__right">Россия</div>
        </li>
        <li class="product-specs__item">
          <div class="product-specs__left">Длина изделия</div>
          <div class="product-specs__right">59 - 62 см</div>
        </li>
        <li class="product-specs__item">
          <div class="product-specs__left">Ширина изделия под проймой</div>
          <div class="product-specs__right">52 - 57 см</div>
        </li>
        <li class="product-specs__item">
          <div class="product-specs__left">Длина рукава</div>
          <div class="product-specs__right">48 - 50 см</div>
        </li>
        <li class="product-specs__item">
          <div class="product-specs__left">Ширина рукава вверху
          </div>
          <div class="product-specs__right">20 - 23 см</div>
        </li>
      </ul>
    </div>
  </div>
</section>
