<section class="return">
  <div class="container">
    <h1 class="return__title">Возврат товара</h1>

    <div class="return__text">
      <p>
        Вернуть товар можно в течение 14 дней с даты покупки. Мы принимаем к
        возврату товары, которые не использовались, сохранили товарный вид и
        потребительские свойства, со всеми заводскими пломбами и ярлыками.
      </p>
      <p>
        Для возврата товара надлежащего качества нужен кассовый чек или другой
        документ, подтверждающий оплату.
      </p>
      <p>
        Согласно ст. 25 Закона РФ «О защите прав потребителей» мы не принимаем к
        возврату товар, если он входит в Перечень непродовольственных товаров
        надлежащего качества, не подлежащих обмену. Перечень утверждён
        Постановлением Правительства РФ от 31 декабря 2020 г. № 2463.
      </p>
      <p>
        Если вы уверены, что хотите вернуть товар,напишите на почту
        <a href="mailto:julia250382@mail.ru">julia250382@mail.ru</a>
      </p>
    </div>
  </div>
</section>
