<section
  class="subscribe"
  style="background-image: url('img/subscribe-bg.jpg')"
>
  <div class="container">
    <div class="subscribe__wrapper">
      <img class="subscribe__img" src="img/mail-send.png" alt="mail-send" />
      <h2 class="subscribe__title">Подпишитесь</h2>
      <p class="subscribe__text">
        на нашу новостную рассылку и будьте в курсе <br />
        всех новостей и акций нашего магазина
      </p>

      <form class="subscribe__form form-subscribe">
        <label class="form-subscribe__group">
          <input
            class="form-subscribe__input"
            type="text"
            placeholder="Введите электронную почту"
          />
        </label>
        <button class="form-subscribe__btn" type="submit">Подписаться</button>
      </form>
    </div>
  </div>
</section>
